<section>
  <div class="container my-5 pb-5">
    <div class="row">
      <div class="col-xl-6 col-lg-7 offset-lg-1">
        <h1 class='font-weight-bold display-3'>Creative design solutions tailored for each client.</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="clearfix pb-4">
          <h2 class="form-heading h3 mt-4 text-center">About Maggie</h2>
          <hr class="accent-line my-4">
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-3 offset-lg-1 d-none d-lg-block">
        <%= image_tag "maggie.jpg", width: 200, class: "rounded" %>
        <a href="https://www.houzz.com/pro/maggiedemarcointeriors/maggie-demarco-interiors-llc" class="my-4 d-block" target="_blank">
          <%= image_tag "featured-on-houzz.jpg", srcset: "#{asset_path('featured-on-houzz@2x.jpg')} 2x", width: 200, alt: "Featured on Houzz logo", title: "Featured on Houzz" %>
        </a>
        <div>
          <%= image_tag "nkba_logo.jpg", width: 80, class: "mr-4" %>
          <%= image_tag "maria-killam.jpg", width: 80 %>
        </div>
      </div>
      <div class="col-lg-3 d-block d-lg-none mb-5 text-center">
        <%= image_tag "maggie.jpg", width: 200, class: "rounded mx-auto" %>
        <a href="https://www.houzz.com/pro/maggiedemarcointeriors/maggie-demarco-interiors-llc" class="my-4 d-block" target="_blank">
          <%= image_tag "featured-on-houzz.jpg", srcset: "#{asset_path('featured-on-houzz@2x.jpg')} 2x", width: 200, alt: "Featured on Houzz logo", title: "Featured on Houzz" %>
        </a>
        <div>
          <%= image_tag "nkba_logo.jpg", width: 80, class: "mr-4" %>
          <%= image_tag "maria-killam.jpg", width: 80 %>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <p class="h5 font-weight-normal readable-line-height">Working with you to create space in your home that functions beautifully and reflects your aesthetic and lifestyle is the focus of my design business.</p>
        <p class="h5 font-weight-normal readable-line-height my-4">We lead busy lives. At the end of the day, it's refreshing to walk through our front door into the home that is "us"; where we breathe easy, smile, and know it's where we love to be.</p>
        <p class="h5 font-weight-normal readable-line-height my-4">To get there, I listen closely to your goals, your vision, learn your preferences and even your frustrations. Whether your project is a refreshing update to your existing space, a remodel, an addition, or a new custom build, I always hope that, along with the many decisions, fun will be part of the process.</p>
        <p class="h5 font-weight-normal readable-line-height my-4">A successful project depends on good communication and individualized design. Here's to an amazing completed project and joy in the process!</p>
      </div>
    </div>
    <div class="col-xl-10 mt-5 mx-auto">
      <%= image_tag "modern-living-room.jpg", width: "100%" %>
    </div>
  </div>
</section>
