<section class="container my-5 pb-5">
  <div class="row">
    <div class="col-xl-6 col-lg-7 offset-lg-1">
      <h1 class="font-weight-bold display-3">
        Imagine your perfect space.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h2 class="form-heading h3 mt-4 text-center">
        Concepts
      </h2>
      <hr class="accent-line my-4">
    </div>
  </div>
  <div class="text-center my-5">
    <ul class="list-unstyled">
      <li class="h4"><%= link_to "Ultra Master Bath", ultra_master_bath_path %></li>
      <li class="h4"><%= link_to "Ultra Great Room", ultra_great_room_path %></li>
      <li class="h4"><%= link_to "Ultra Master Suites", ultra_master_suites_path %></li>
      <li class="h4"><%= link_to "Ultra Closest", ultra_closet_path %></li>
      <li class="h4"><%= link_to "Ultra Outdoor Living", ultra_outdoor_living_path %></li>
      <li class="h4"><%= link_to "Ultra Kitchen", ultra_kitchen_path %></li>
      <li class="h4"><%= link_to "Before & After", before_and_after_path %></li>
      <li class="h4"><%= link_to "Exterior", concept_exterior_path %></li>
      <li class="h4"><%= link_to "Interior", concept_interior_path %></li>
    </ul>
  </div>
</section>

<%= render partial: "/projects/projects-footer" %>
